*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'chandstate', sans-serif;
    background: #121212;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position:sticky;
    top: 0;
    z-index: 50;
}

.navbar__container{
    display:flex;
    justify-content:space-between;
    width:100%;
    z-index: 1;
    max-width:1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
    font-size: 1rem;
    font-weight: 200;
    color: white;
    opacity: 0.6;
}

.navbar__links:hover {
    color:white;
    transition: all 0.7 ease-in;
    opacity: 1;
}


.ritul {
    display: flex;
    padding-top: 28vh;
    justify-content: center;
    font-family: Tesla;
    font-size: 5rem;
    color: white;
    font-weight: 80;
}

.myrole {
    display: flex;
    justify-content: center;
    font-family: chandstate;
    padding-top: 4.5vh;
    font-size: 1.2rem;
    font-weight: 75;
    letter-spacing: 0.3rem;
    color: white;
    opacity: 0.75;
}



@media screen and (max-width: 960px){
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width:100%;
        position:absolute;
        /*top: -1000px;
        opacity: 0;*/
        transition: all 0.5s ease;
        height: 75vh;
        z-index: -1;
        background-color: black;
    }

    .navbar__menu.active{
        background:black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 100;
        height: 50vh;
        font-size: 1rem;
    }

    .navbar__item {
        width: 100%;
        padding: 2rem;
    }

    .navbar__links {
        text-align: center;
        padding:  0rem;
        width: 100%;
        display: flex;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;

    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    .navbar__toggle .bar::before,
    .navbar__toggle .bar::after {
        display: block;
        cursor: pointer;
    }

}